//- Разные миксины по одному, которые понадобятся. Для логотипа, бейджа, и т.д.
mixin link(text,url)
	a(href=url class="link")&attributes(attributes) #{text}

mixin postLink(text,link)
	a(href=link)&attributes(attributes) #{text}

mixin horisontal-line()
	.line

mixin Img(img,alt)
	- altText = alt || ''
	img(src="../../img/" + img, alt=altText)
