extends ../../layouts/ui-layout/ui-layout.pug

block variables
    - var title = 'Бейдж - UI-kit и HTML фреймворк - Документация';
    - var pageClass = 'body--dashboard';

block content
    .main-wrapper
        .container.container--left.user-content.pt-35
            h1 Бейдж

            .section-ui
                .title-2 Бейдж по умолчанию 
                +badge('Пользователь')
            .section-ui
                .title-2 Бейдж с настройкой
                +badge('Пользователь')(class="badge--color")
            pre.
                +badge('Пользователь')
                +badge('Пользователь')(class="badge--color")
            .section-ui
                .title-2 Бейдж ссылка
                +badge('Пользователь', '#!')(class="badge-link--effects")
            pre.
                +badge('Пользователь', '#!')(class="badge-link--effects")
            .title-2 mixins/_badge.pug
            pre.
                mixin badge(text,href)
                    if href
                        a.badge(href=href)&attributes(attributes) #{'#{text}'}
                    else
                        span.badge&attributes(attributes) #{'#{text}'}